<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My App{% endblock %}</title>
    
    <!-- Include CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}My App Header{% endblock %}</h1>
    </header>
    <nav>
        <!-- Navigation links -->
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- Include JavaScript files -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
